.kwd, .typ {
    color: #27a4ca;
}

.lit {
    color: #27a4ca;
}

.clo, .opn, .pun {
    color: #ffb347;
}

.pln {
    color: white;
}

.com {
    color: rgb(134, 134, 134);
}

.prettyprint {
    text-align: left;
}