/* classes with prettify */
.kwd, .typ {
    color: #27a4ca;
}

.lit {
    color: #27a4ca;
}

.clo, .opn, .pun {
    color: #ffb347;
}

.pln {
    color: white;
}

.com {
    color: rgb(134, 134, 134);
}

.prettyprint {
    text-align: left;
}

/* containers */
.codecontainer {
    padding-top: 4%;
    width: 75%;
    margin-left: 14.5%;
}
code,
pre {
  background: #333;
}